.App > h1 {
  text-align: center;
}
.body{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.show-btn{
  background-color: transparent;
  border:none;
  font-size: 1rem;
}

.header{
  display:flex;
  align-items: center ;


}